.Pot {
    background-image: linear-gradient(
        to right,
        #153c42 0%,
        #266970 51%,
        #153c42 100%
    );
    background-size: 200%;
    transition: 0.5s;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 323.6px;
    height: 200px;
    margin: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Pot:hover {
    background-position: right center; /* change the direction of the change here */
    transform: scale(1.1);
    box-shadow: 0 0 40px #000;
}
.Pot:active {
    transform: scale(0.8);
    box-shadow: 0 0 10px #000;
}
.Pot__header {
    background-image: linear-gradient(
        to right,
        #0d262b 0%,
        #1e5359 51%,
        #0d262b 100%
    );
    background-size: 200%;
    transition: 0.4s;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    box-shadow: 0 0 5px #000;
}
.Pot__header-expiring {
    background-image: linear-gradient(
        to right,
        #0d262b 0%,
        #ff0000a1 51%,
        #0d262b 100%
    );
    background-size: 200%;
    transition: 0.4s;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    box-shadow: 0 0 5px #000;
}
.Pot:hover .Pot__header {
    background-position: right center; /* change the direction of the change here */
    box-shadow: 0 0 20px #000;
}
.Pot:hover .Pot__header-expiring {
    background-position: right center; /* change the direction of the change here */
    box-shadow: 0 0 20px #000;
}

.Pot__header-text {
    color: rgba(27, 181, 148, 0.5);
    transition: 0.5s;
}
.Pot__header-text-expiring {
    color: rgba(27, 181, 148, 0.5);
    transition: 0.5s;
}
.Pot:hover .Pot__header-text-expiring {
    color: rgba(181, 27, 27, 1);
}

.Pot__body {
    padding: 8px 8px;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Pot__body-title {
    color: rgba(27, 181, 148, 0.7);
    font-weight: bold;
    transition: 0.5s;
}
.Pot:hover .Pot__body-title {
    color: rgba(27, 181, 148, 1);
}
.Pot__body-text {
    color: rgba(27, 181, 148, 0.3);
    margin-left: 8px;
    transition: 0.5s;
}
.Pot:hover .Pot__body-text {
    color: rgba(27, 181, 148, 0.8);
}
