.Button {
    background-image: linear-gradient(
        to right,
        #0d262b 0%,
        #266970 51%,
        #0d262b 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200%;
    color: white;
    border-radius: 20px;
    border: none;
    display: flex;
    box-shadow: 0 0 20px #000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Button--golden {
    background-image: linear-gradient(
        to right,
        #9a9b54 0%,
        #d6d86b 51%,
        #9a9b54 100%
    );
}
.Button--red {
    background-image: linear-gradient(
        to right,
        #5a2121 0%,
        #b43232 51%,
        #5a2121 100%
    );
}
.Button:hover {
    background-position: right center; /* change the direction of the change here */
    color: white;
    transform: scale(1.1);
}

.Button:active {
    transform: scale(0.8);
}
.Button__image {
    margin-left: 16px;
}
.Button__text {
    background-image: linear-gradient(
        180deg,
        rgba(256, 256, 256, 0.9),
        rgba(256, 256, 256, 0.6)
    );
    background-clip: text;
    color: transparent;
    transition: 0.5s;
}
.Button:hover .Button__text {
    background-image: linear-gradient(
        180deg,
        rgba(256, 256, 256, 0.9),
        rgba(256, 256, 256, 0.9)
    );
    background-clip: text;
    color: transparent;
}
