.Pots::-webkit-scrollbar {
    display: none;
}
.Pots {
    background-color: hsla(195, 65%, 4%, 1);
    background-image: radial-gradient(
            at 20% 82%,
            hsla(195, 65%, 4%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 95% 11%, hsla(195, 65%, 4%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(167, 74%, 40%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(179, 60%, 45%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 37%, hsla(179, 60%, 45%, 1) 0px, transparent 50%),
        radial-gradient(at 68% 7%, hsla(185, 49%, 29%, 1) 0px, transparent 50%),
        radial-gradient(at 41% 87%, hsla(185, 49%, 29%, 1) 0px, transparent 50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.Pots__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.Pots__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 48px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.Pots__header-bigTitle {
    color: #fff;
    font-weight: 100;
    font-size: 70px;
}
.Pots__header-title {
    color: #fff;
    font-weight: bold;
}
.Pots__header-text {
    margin-left: 64px;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}
